CREATE TABLE IF NOT EXISTS pricing_configs (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE,
  config_data JSONB NOT NULL,
  is_default BOOLEAN DEFAULT false,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT TIMEZONE('utc'::text, NOW()),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT TIMEZONE('utc'::text, NOW())
);

-- Criar política de segurança para permitir acesso anônimo (temporariamente)
CREATE POLICY pricing_configs_anon_access ON pricing_configs
  FOR ALL
  TO anon
  USING (true)
  WITH CHECK (true);

-- Habilitar RLS na tabela
ALTER TABLE pricing_configs ENABLE ROW LEVEL SECURITY;